{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react", "react-hooks"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-use-before-define": [2, { "functions": false, "classes": true }],
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used"
      }
    ],
    "prefer-const": "error",
    "no-tabs": "off",
    "no-useless-return": "off",
    "react/style-prop-object": "error",
    "react/no-will-update-set-state": [2],
    "react/jsx-key": 2,
    "react/jsx-curly-spacing": [2, "never"],
    "react/self-closing-comp": 2,
    "no-console": [0],
    "react/prop-types": "off",
    "react/no-unused-prop-types": [2],
    "react/jsx-no-bind": [0],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "react": {
      "version": "17.0.2"
    }
  }
}
